.container {
  position: relative;
  height: 100vh;
  max-width: 1440px;
  width: 100%;
  border-left: 1px solid rgba(66, 86, 122, 0.1);
  border-right: 1px solid rgba(66, 86, 122, 0.1);

  .lineCenter,  
  .line {
    position: absolute;
    top: 0;
    width: 1px;
    height: 100vh;
    background-color: #42567a;
    opacity: 0.1;
  }

  .lineCenter {
    left: calc(50% - 1px);
  }
  
  .line {
    height: 1px;
    width: 100%;
    top: calc(50% - 1px);
    left: 0;
  }

  .loder {
    display: flex;
    justify-content: center;
  }
  .error {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    font-family: var(--second-family);
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    color: #42567a;
  }
}

@media (max-width: 320px) {
  .container {
  }
}
