.next,
.prev {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
  background-color: white;
  .img {
    width: 7px;
  }
}
.prev {
  left: -5px;
  .img {
    transform: rotate(180deg);
  }
}

.next {
  right: 0;
}
