.container {
  font-family: var(--second-family);
  font-weight: 400;
  cursor: default;

  .year {
    font-size: 25px;
    line-height: 120%;
    text-transform: uppercase;
    color: #3877ee;
  }

  .text {
    padding: 15px 0;
    min-height: 180px;
    font-size: 20px;
    line-height: 150%;
    color: #42567a;
    transition: all 0.3s ease;
  }
  .limited {
    cursor: pointer;
  }
}

@media (max-width: 320px) {
  .container {
    .year {
      font-size: 16px;
    }

    .text {    
      min-height: 100px;  
      font-size: 14px;
      line-height: 145%;
    }
  }
}
